* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sansita Swashed', cursive;
  font-size: 25px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: grey;
  color: white;
}

.box > h1 {
  margin-bottom: 25px;
}
